<main
  *ngIf="form == true"
  class="flex items-center justify-center h-screen bg-gray-300"
>
  <div class="bg-white w-96 p-6 rounded shadow-sm">
    <label class="text-gray-700">Usuario</label>
    <input
      (keyup)="onKey($event, 1)"
      type="text"
      class="w-full py-2 bg-gray-200 text-gray-500 px-1 outline-none mb-4 rounded"
    />
    <label class="text-gray-700">Contraseña</label>
    <input
      (keyup)="onKey($event, 2)"
      type="password"
      class="w-full py-2 bg-gray-200 text-gray-500 px-1 outline-none mb-6 rounded"
    />
    <button
      (click)="check()"
      type="submit"
      class="bg-blue-500 w-full text-gray-200 py-2 rounded-full hover:bg-blue-700 transition-colors"
    >
      Login
    </button>
  </div>
</main>

<app-worker *ngIf="level == 1"></app-worker>
<app-admin *ngIf="level == 2"></app-admin>
